{% extends 'blog/base.html' %}
{% block content %}
    <div class="container" style="background: white; padding: 20px; margin-top: 10px; border-radius: 20px;">
        <h1>Blog About</h1>
        <h2>Este blog fue creado por mí, Agustín Russo, basado en las clases del curso de CODERHOUSE en desarrollo web con django y python.
            <br>
            <br>
            Este proyecto se empezó después de las fiestas debido a inconvenientes y se terminó un 10 de enero de 2024.
            <br>
            <br>
            El blog es sencillo, contiene las últimas publicaciones que solo contienen un título y un cuerpo con su fecha de publicación correspondiente junto a la edición de perfil, vista de publicaciones y creación tambien de las mismas.
            <br>
            <br>
            La página misma se verá demostrada en el video adjuntado en el repositorio de GitHub.
        </h2>
    </div>
{% endblock content %}